@using TwitterClone.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="col-md-offset-2">
    <h2>Welcome to My Twitter Clone</h2>
    <fieldset>
        <legend>Login</legend>
        <div class="row">
            <div class="col-md-10">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <input type="submit" value="Log in" class="btn btn-primary btn-sm" />
                                <span class="col-md-offset-1">New User?</span> @Html.ActionLink("Sign up", "Register")
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}