@model TwitterClone.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Manage Profile";
}


<div class="col-md-offset-2">
    <h2>My Twitter Clone</h2>
    <fieldset>
        <legend>Update Account Details</legend>
        <div class="row">
            <div class="col-md-10">
                <section id="updateprofileForm">

                    @using (Html.BeginForm("ManageProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-6">
                                <input type="submit" value="Update Profile" class="btn btn-primary btn-sm" />
                                @Html.ActionLink("Delete Account", "DeleteAccount", "Account", new { @class = "btn btn-warning btn-sm" })
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </fieldset>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
